@charset "UTF-8";
body, p, ul, h1, h2, h3, h4, h5, h6, button {
  margin: 0 auto;
  padding: 0;
  display: block;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
}

li {
  list-style: none;
  display: block;
}

a {
  display: block;
}

p {
  display: block;
}

::-webkit-input-placeholder {
  color: #c0392b;
  margin-left: 10px;
}

::-moz-placeholder {
  color: #c0392b;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #c0392b;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #c0392b;
}

.container {
  width: 1425px;
  margin: 0 auto;
}

.header {
  background-color: #e4f5eb;
  width: 100%;
  height: 180px;
  position: relative;
}

.header-box {
  padding-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo-u {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 23.7952px;
  line-height: 15px;
  color: #45B871;
}

.header-logo-coda {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 19.8294px;
  line-height: 15px;
  color: #1a2013;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__item__link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 19.8294px;
  line-height: 15px;
  color: #575859;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.header-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 19.8294px;
  line-height: 15px;
  /* identical to box height, or 75% */
  color: #575859;
}

.header-contacts__button {
  background: #45B871;
  padding: 19px 22px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 19.8294px;
  line-height: 15px;
  -webkit-box-shadow: 0px 7.93174px 79.3174px rgba(9, 188, 77, 0.2);
          box-shadow: 0px 7.93174px 79.3174px rgba(9, 188, 77, 0.2);
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
}

.header-contacts__button:hover {
  background-color: #FFFFFF;
  color: #242323;
  -webkit-transition: 250ms;
  transition: 250ms;
  cursor: pointer;
  border: none;
  outline: none;
}

.header-contacts__button:focus {
  background-color: #FFFFFF;
  color: #242323;
  -webkit-transition: 250ms;
  transition: 250ms;
  cursor: pointer;
  border: none;
  outline: none;
}

.hero {
  background-color: #e4f5eb;
  height: 100vh;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.grid-item {
  border-color: 2px solid red;
}

.hero-title {
  font-family: 'Open Sans';
  font-style: 400;
  font-weight: 700;
  font-size: 63.4539px;
  line-height: 83px;
  color: #242323;
  margin-bottom: 31px;
}

.hero-text {
  font-family: 'Open Sans';
  font-style: 400;
  font-weight: 600;
  font-size: 18px;
  line-height: 145%;
  color: #6C6C6A;
  margin-bottom: 30px;
}

.hero-button {
  padding: 20px 48px;
  border: none;
  color: white;
  background-color: #45b871;
  font-family: 'Open Sans';
  font-style: 400;
  font-weight: 600;
  font-size: 19.8294px;
  line-height: 1.5;
  border-radius: 5px;
  color: #FFFFFF;
}

.hero-button:hover {
  background-color: #FFFFFF;
  color: #242323;
  -webkit-transition: 250ms;
  transition: 250ms;
  cursor: pointer;
  border: none;
  outline: none;
}

.hero-button:focus {
  background-color: #FFFFFF;
  color: #242323;
  -webkit-transition: 250ms;
  transition: 250ms;
  cursor: pointer;
  border: none;
  outline: none;
}

.picture-hero {
  position: relative;
  top: -77px;
}

.company {
  padding: 75px 0 0;
}

.company-flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  gap: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company-flex__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get-started {
  padding: 150px 0 150px;
}

.get-started__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
}

.get-started__box__item:first-child {
  width: 562px;
  height: 502px;
  background-color: #efefef;
  border-radius: 20px;
}

.img-line {
  position: relative;
  top: 2px;
  opacity: 0.5;
}

.inner-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 225px 225px;
      grid-template-columns: 225px 225px;
  -ms-grid-rows: 225px 225px;
      grid-template-rows: 225px 225px;
  grid-gap: 30px;
  position: relative;
  top: -421px;
  left: 118px;
}

.card {
  width: 225px;
  height: 225px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: -2px -2px 24px 1px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: -2px -2px 24px 1px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: -2px -2px 24px 1px rgba(0, 0, 0, 0.32);
}

.card:hover {
  background-color: #45B871;
  -webkit-transition: 250ms;
  transition: 250ms;
  cursor: pointer;
}

.card:hover .round {
  background-color: #FFFFFF;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.card:hover .round_span {
  color: black;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.card:hover .round__text {
  color: #FFFFFF;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.card:nth-child(2) {
  position: relative;
  top: 30px;
}

.card:nth-child(4) {
  position: relative;
  top: 30px;
}

.round_span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
}

.round {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 74px;
  height: 74px;
  background-color: #45B871;
}

.round__text {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 12px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 25px;
  line-height: 15px;
  top: 77px;
  color: #242323;
}

.get-started__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 1.2;
  color: #242323;
  margin-bottom: 30px;
}

.get-started__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  color: #8C8E91;
  margin-bottom: 50px;
}

.get-started__button {
  background-color: #FFFFFF;
  padding: 10px 15px;
  border: none;
}

.get-started__button__round {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: red;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-left: 200px solid #5cb85c;
  border-bottom: 100px solid transparent;
}

.courses {
  background-color: #e4f5eb;
  padding: 78px 0 106px;
}

.section__title {
  енщfont-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 74px;
  color: #242323;
  margin-bottom: 120px;
}

.courses-box {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  margin-bottom: 100px;
}

.courses-box__item {
  margin: 15px;
  border-radius: 15px;
  background-color: #fff;
}

.courses-box__item:nth-child(2) {
  position: relative;
  top: -40px;
}

.courses-box__item:nth-child(5) {
  position: relative;
  top: -40px;
}

.courses-box__item__img {
  width: 100%;
}

.card-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
}

.card-grid .card-grid__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 15px;
  color: #575859;
}

.card-grid .card-grid__item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #575859;
}

.card-grid .card-grid__item:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.card-grid .card-grid__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 15px;
  color: #4C68FF;
}

.box__wrapper {
  padding: 40px 30px;
}

.courses-box__item__title {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #242323;
  margin-bottom: 36px;
}

.little__img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
}

.name-box__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #242323;
}

.name-box__prof {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  text-decoration: underline;
  color: #45b871;
}

.dollars {
  color: #4C68FF;
}

.man::after {
  background: url(./../../src/img/courses/card4_man_1x.png);
  position: absolute;
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.courses__buton {
  margin: 0 auto;
  background-color: #45B871;
  padding: 33px 44px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 15px;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 10px 80px rgba(9, 188, 77, 0.25);
          box-shadow: 0px 10px 80px rgba(9, 188, 77, 0.25);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.courses__buton:hover {
  background-color: #FFFFFF;
  color: #242323;
  -webkit-transition: 250ms;
  transition: 250ms;
  cursor: pointer;
  border: none;
  outline: none;
}

.students {
  padding: 150px 0;
}

.students__title {
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 58px;
  line-height: 74px;
  color: #424232;
  margin-bottom: 50px;
}

.students-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 77px;
}

.students-grid__item {
  border: 1px solid rgba(231, 231, 231, 0.7);
  -webkit-box-shadow: 30px 30px 70px rgba(99, 98, 98, 0.06);
          box-shadow: 30px 30px 70px rgba(99, 98, 98, 0.06);
  border-radius: 15px;
}

.students-grid__item:first-child {
  padding: 81px 52px;
}

.students-grid__item:last-child {
  border: none;
}

.students__green-border {
  width: 142px;
  height: 142px;
  border: 2px solid green;
  border-radius: 50%;
  margin-bottom: 13px;
}

.students__green-border::before {
  background-image: url(./../../src/img/students/friendly-smiling-woman-looking-pleased-front_176420-20779.png);
  width: 138px;
  height: 138px;
  background-position: cover;
  background-repeat: no-repeat;
  background-position: center;
  content: ' ';
  position: absolute;
  border-radius: 50%;
}

.students-grid__item__text {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  color: #8C8E90;
  margin-bottom: 30px;
}

.students-grid__item__title {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  line-height: 10px;
  color: #242323;
  margin-bottom: 32px;
}

.students-grid__item__info {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  line-height: 1px;
  color: #636262;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 50px;
}

.wrapper__item {
  padding: 38px 44px;
  border: 1px solid rgba(231, 231, 231, 0.7);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
}

.wrapper__item__green-border {
  width: 88px;
  height: 88px;
  border: 2px solid green;
  border-radius: 50%;
  margin-bottom: 13px;
}

.wrapper__item__green-border::before {
  background-image: url(./../../src/img/students/Mask1.png);
  width: 84px;
  height: 84px;
  background-position: cover;
  background-repeat: no-repeat;
  background-position: center;
  content: ' ';
  position: absolute;
  border-radius: 50%;
}

.wrapper__item__text {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #8C8E90;
  margin-bottom: 50px;
}

.wrapper__item__title {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 19.2821px;
  line-height: 6px;
  color: #242323;
  margin-bottom: 19px;
}

.wrapper__item__info {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12.8548px;
  line-height: 1px;
  color: #636262;
}

.wrapper__item__green-border__new {
  width: 88px;
  height: 88px;
  border: 2px solid green;
  border-radius: 50%;
  margin-bottom: 13px;
}

.wrapper__item__green-border__new::before {
  background-image: url(./../../src/img/students/Mask_Group.png);
  width: 84px;
  height: 84px;
  background-position: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  content: ' ';
  border-radius: 50%;
}

.sign_up {
  padding: 0  0 110px;
}

.sign_up__box {
  display: block;
  text-align: center;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 106px 0;
  background-color: #45B871;
}

.sign_up__title {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.sign_up__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.sign_up__wrapper__button {
  background: none;
  border: 1px solid #FFFFFF;
  -webkit-filter: drop-shadow(0px 7px 50px rgba(9, 188, 77, 0.3));
          filter: drop-shadow(0px 7px 50px rgba(9, 188, 77, 0.3));
  border-radius: 5px;
  padding: 20px 37px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 15px;
  /* or 75% */
  color: #FFFFFF;
}

.sign_up__wrapper__button:hover {
  background-color: #FFFFFF;
  color: #242323;
  -webkit-transition: 250ms;
  transition: 250ms;
  cursor: pointer;
  border: none;
  outline: none;
}

.sign_up__wrapper__button:focus {
  background-color: #FFFFFF;
  color: #242323;
  -webkit-transition: 250ms;
  transition: 250ms;
  cursor: pointer;
  border: none;
  outline: none;
}

.vector1 {
  position: relative;
  top: 1px;
}
/*# sourceMappingURL=main.css.map */