.sign_up {
    padding: 0  0 110px;
}

.sign_up__box {
    display: block;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    padding: 106px 0;
    background-color: #45B871;
}

.sign_up__title {
    font-family: 'Open Sans';
font-weight: 700;
font-size: 50px;
line-height: 59px;

text-align: center;

color: #FFFFFF;

margin-bottom: 50px;
}

.sign_up__wrapper {
    display: flex;
justify-content: center;
gap: 30px;

}

.sign_up__wrapper__button {
    background: none;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 7px 50px rgba(9, 188, 77, 0.3));
    border-radius: 5px;

    padding: 20px 37px;

    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 15px;
/* or 75% */


color: #FFFFFF;

&:hover {
    background-color: #FFFFFF;
    color: #242323;
    transition: 250ms;
    cursor: pointer;
    border: none;
    outline: none;
}
&:focus {
    background-color: #FFFFFF;
    color: #242323;
    transition: 250ms;
    cursor: pointer;
    border: none;
    outline: none;
}
}


.vector1 {
    position: relative;
    top: 1px;
}